h2 {
    margin-left: -5px;
}

body {
    margin-left: 30px;
    margin-right: 30px;
}
textarea {
    resize: none;
    height: 100px;
}

p.comment {
    word-wrap: break-word;
    margin-bottom: 0px;
}

p.article {
    margin-top: -4px;
}
img {
    display: block;
    max-width: 1000px;
    max-height: 1000px;
    height: auto;
    width: auto;
}