a {
    color: black;
}

div.flash {
    position: absolute;
    top: 15px;
    right: 115px;
    font-weight: bold;
    font-size: 30px;
}
h1 {
    width: 100%;
    text-align: center;
}

h3 {
    text-decoration: underline;
    text-align: center;
}

div.articles {
    border: solid 1px;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
    margin-left: 75px;
    margin-right: 75px;
    word-wrap: break-word;
    overflow: hidden;
}

h3:hover {
    color: #4BB4E9;
}

p {
    text-align: left;
}

img {
    width: auto;
    height: auto;
    max-width: 50px;
    max-height: 50px;
    float: left;
    margin-right: 10px;
}


/* .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    word-wrap: break-word;
}

.postcontent {
    padding: 0 15px 0 15px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease-out;
    background-color: black;
    word-wrap: break-word;
    color: white;
}

.active, .collapsible:hover {
background-color: #555;
}   */

/* @keyframes color {
    0%,
    100% {
        text-shadow: 2px 2px #FF0000, 3px 3px #8c00ff, 4px 4px #00ff0d, 5px 5px #fbff00
    }
    25% {
        text-shadow: 3px 3px #fbff00, 4px 4px #FF0000, 5px 5px #8c00ff, 6px 6px #00ff0d;
    }
    50% {
        text-shadow: 2px 2px #00ff0d, 3px 3px #fbff00, 4px 4px #FF0000, 5px 5px #8c00ff;
    }
    75% {
        text-shadow: 3px 3px #8c00ff, 4px 4px #00ff0d, 5px 5px #fbff00, 6px 6px #FF0000;
    }
}

@keyframes bg-color {
    0%,
    100% {
        background: #FF0000;
    }
    25% {
        background: #fbff00;
    }
    50% {
        background: #00ff0d;
    }
    75% {
        background: #8c00ff;
    }
}

p {
    animation: color 100ms infinite;
    text-shadow: 2px 2px #FF0000, 3px 3px #8c00ff, 4px 4px #00ff0d, 5px 5px #fbff00;
}

h1 {
    animation: color 100ms infinite 100ms;
    text-shadow: 2px 2px #FF0000, 3px 3px #8c00ff, 4px 4px #00ff0d, 5px 5px #fbff00;
}

a:link {
    animation: color 100ms infinite 200ms;
    text-shadow: 2px 2px #FF0000, 3px 3px #8c00ff, 4px 4px #00ff0d, 5px 5px #fbff00;
    color: black;
}

a:hover {
    animation: color 100ms infinite 300ms;
    text-shadow: 2px 2px #FF0000, 3px 3px #8c00ff, 4px 4px #00ff0d, 5px 5px #fbff00;
    color: blue;
}

a:visited {
    animation: color 100ms infinite 400ms;
    text-shadow: 2px 2px #FF0000, 3px 3px #8c00ff, 4px 4px #00ff0d, 5px 5px #fbff00;
    color: black;
}

body {
    animation: bg-color 100ms infinite;
}  */