h1 {
    text-align: center;
}

form.main {
    text-align: center;
}

.body {
    width: 25%;
    height: 300px;
    font-family: 'Courier New', Courier, monospace;
}

.title {
    font-family: 'Courier New', Courier, monospace;
    width: 25%;
}

input[type=submit] {
    text-align: center;
}