h1 {
    text-align: center;
}

form.main {
    text-align: center;
}

.body {
    width: 40%;
    height: 600px;
    font-family: 'Courier New', Courier, monospace;
    resize: none;
}

.title {
    font-family: 'Courier New', Courier, monospace;
    width: 40%;
}

input[type=submit] {
    text-align: center;
}

.flash {
    text-align: center;
}