h1 {
    text-align: center;
}

form.main {
    text-align: center;
}

.body {
    width: 15%;
    height: 200px;
    font-family: 'Courier New', Courier, monospace;
}

.title {
    font-family: 'Courier New', Courier, monospace;
}

input[type=submit] {
    text-align: center;
}