main {
    margin: 0 auto;
    padding: 60px 0 0;
    gap: 3px;
    flex-grow: 1;
    align-content: start;
    display: inline-block;
}

body {
    display: flex;
    flex-direction: column;
}

footer {
    bottom: 0px;
    margin:10px;
    font-size: 10px;
    display: inline-block;
}

a.custom-button, input[type=submit]{
    background-color: #F3812B;
    color: white;
    /* animation: bg-color 100ms infinite; */
}

/* 
@keyframes bg-color {
    0%,
    100% {
        background: #FF0000;
    }
    25% {
        background: #fbff00;
    }
    50% {
        background: #00ff0d;
    }
    75% {
        background: #8c00ff;
    }
}
 */
