{% extends 'layout.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/actualarticle.css">
{% endblock %}
{% block title %}{{article.title_censored}}{% endblock %}

{% block body %}
<h2>{{ article.title_censored }}</h2>
<img src="/static/images/{{ article.image }}" alt="">
<p class="article">{{ article.body_censored }}</p>

{% if current_user.is_authenticated %}
<h3>Leave a comment here!</h3>
<form action="/addcomment?t={{ request.path }}" method='POST'>
    <textarea name="comment" placeholder="Add your comment"></textarea>
    <input type="hidden" value="{{article.id}}" name="post_id">
    <br>
    <input type="submit" value="Post Comment">
</form>
{% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
{% endfor %}
{% endif %}
<h3>Comments</h3>
{% for comment in comments %}
    {% if article.id == comment.post_id %}
        <p class="comment">{{ comment.comment_censored }}</p>
        {% if current_user.is_admin or current_user.id == comment.user_id %}
        <form action="/deletecomment?t={{ request.path }}" method="POST" onSubmit="return confirm('You sure you wanna delete this comment?');">
        <input type="hidden" value="{{comment.id}}" name="commentid">
        <input type="hidden" value="{{article.id}}" name="post_id">
        <input type="submit" value="Delete">
        </form>
        {% endif %}
    {% endif %}
{% endfor %}
{% endblock %}