{% extends 'layout.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/articles.css">
{% endblock %}

{% block title %}Test Database thing{% endblock %}

{% block body %}
<h1>Articles</h1>
{% for article in posts %}
<div class="articles">
<h2>{{ article.title }}</h2>
  <!-- <img src="/static/images/Capture.PNG" alt="bruh" style="width: 300px;"> -->
    <p>{{ article.body }}</p>
    {% if current_user.is_admin or current_user.id==article.user_id %}
    <form style="padding-bottom:10px;" action="/deletepost", method="POST" onSubmit="return confirm('You sure you wanna delete this article?');">
      <input type="hidden" name="articleid" value="{{ article.id }}">
      <input type="submit" value="Delete Post">
    </form>
    {% endif %}
</div>
{% endfor %}
<!-- <script>
    var coll = document.getElementsByClassName("collapsible");
    var i;
    
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight){
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        } 
      });
    }
</script> -->
{% endblock %}