{% extends 'layout.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/index.css">
{% endblock %}
{% block body %}
<div>
<img src="/static/images/borderless_5chan.jpg" alt="">
</div>
<div>
    <p class="intro">Welcome to 5Chan!<br>
        5Chan is an website that allows you to freely express your opinions as bad or good they may be!<br>
        Joining our website will give you the power to share your opinion, have your say about the opinion of others, as well as delete what you've previously said!<br>
        To get stuck in, signup or login today!
    </p>
</div>
{% endblock %}
