<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}5chan{% endblock %}</title>
    {% block head %}
    <link rel="stylesheet" href="/static/layout.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    {% endblock %}
</head>
<body>
    <nav style="background-color: #4BB4E9;">
        <a href="/" class="brand">
        <span>5Chan</span>
        </a>
        <!-- responsive-->
        <input id="bmenub" type="checkbox" class="show">
        <label for="bmenub" class="burger pseudo button">Menu</label>
    
        <div class="menu">
        <span>{{ get_flashed_messages(category_filter=["nav"])[-1] }}</span>
        <!-- <a href="/" class="pseudo button icon-picture">Home</a> -->
        {% if current_user.is_authenticated %}
        <a href="/togglensfw?t={{ request.path }}" class="pseudo button icon-puzzle">NSFW {{ 'OFF' if session.get('nsfw', False) else 'ON' }}</a>
        {% endif %}
        <a href="/articles" class="pseudo button icon-puzzle">Articles</a>
        {% if current_user.is_authenticated %}
        <!-- Only shows if user is logged in -->
        <a href="/createpost" class="pseudo button icon-picture">Create Article</a>
        <a href="/logout" class="custom-button button icon-puzzle">Logout</a>
        {% else %}
        <a href="/login" class="pseudo button icon-picture">Login</a>
        <a href="/signup" class="custom-button button icon-puzzle">Signup</a>
        {% endif %}
        </div>
    </nav>
    <main class='flex one gap' style="max-width: 1000px; margin: 0 auto;">
        {% block body %}{% endblock %}
    </main>
    <div>
    <footer>
        <p>©2021 Jayden Ling</p>
    </footer>
    </div>
</body>
</html>