<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}5chan{% endblock %}</title>
    {% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <link rel="stylesheet" href="/static/layout.css">
    {% endblock %}
</head>
<body>
    <nav>
        <a href="/" class="brand">
        <span>5chan</span>
        </a>
        <!-- responsive-->
        <input id="bmenub" type="checkbox" class="show">
        <label for="bmenub" class="burger pseudo button">Menu</label>
    
        <div class="menu">
        <span>{{ get_flashed_messages(category_filter=["nav"])[-1] }}</span>
        <!-- <a href="/" class="pseudo button icon-picture">Home</a> -->
        <a href="/articles" class="pseudo button icon-puzzle">Articles</a>
        {% if current_user.is_authenticated %}
        <a href="/createpost" class="pseudo button icon-picture">Create Post</a>
        <a href="/logout" class="button icon-puzzle">Logout</a>
        {% else %}
        <a href="/login" class="pseudo button icon-picture">Login</a>
        <a href="/signup" class="button icon-puzzle">Signup</a>
        {% endif %}
        </div>
    </nav>
    <!-- <div class="dropdownthing">
        <button class="dropbutton">Account</button>
        <div class="dropdownthing-links">
        <a href="/">Home</a>
        <a href="/articles">Articles</a>
        {% if current_user.is_authenticated %}
            <a href="/createpost">Create Post</a>
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
        {% endif %}
        </div>
    </div> -->
    <main class='flex one'>
        {% block body %}{% endblock %}
    </main>
    {% include 'footer.html' %}
</body>
</html>