<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}
    <link rel="stylesheet" href="/static/layout.css">
    {% endblock %}
</head>
<body>
    <div class="dropdownthing">
        <button class="dropbutton">Account</button>
        <div class="dropdownthing-links">
        <a href="/">Home</a>
        <a href="/articles">Articles</a>
        {% if current_user.is_authenticated %}
            <a href="/createpost">Create Post</a>
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
        {% endif %}
        </div>
    </div>
    {% block body %}{% endblock %}
    {% include 'footer.html' %}
</body>
</html>