{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/signup.css">
{% endblock %}
{% block title %}Signup{% endblock %}
{% block body %}
<div class="form">
<h1>Signup Here</h1>
<form action="/signup", method="POST">
    <p>Username</p>
    <input type="text" placeholder="Don't use your real name!" name="new_user">
    <br>
    <p>Password</p>
    <input type="password" placeholder="Password" name="new_password" id="pass">
    <br><br>
    <label>
        <input type="checkbox" onclick="showPass()">
        <span class="checkable">Show Password</span>
      </label>
    <br><br>
    <input type="submit" value="Signup">
</form>
</div>
<br>
{% for message in get_flashed_messages() %}
    <p class="flash">{{ message }}</p>
{% endfor %}
<br><br>
<script>
function showPass() {
    var x = document.getElementById("pass");
    if (x.type === "password") {
        x.type = "text";
    } else {
        x.type = "password";
    }
}
</script>
{% endblock %}
